@font-face {
  font-family: Arial;
  src: url('https://fonts.cdnfonts.com/css/arial-2');
}
html {
    font-family: Arial;
    color: white;
}
body {
    width: 80%;
    background-color: #343434;
}

.hide {
  display: none;
}

.container {
    width: 100%;
    position: relative;
}


header {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 770px){
    #map{
    height:90vh;
    width:140vh;
    }
}
#map{
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
  margin-bottom: 1rem;
}

#main-menu {
  width: 225vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  z-index: 9999;
}

#menu-form {
  display: flex;
  width: 35%;
  margin: 4rem auto;
  flex-direction: column;
}

#menu-form input {
  padding: 1rem;
}


.blue-icon {
    background-color: indianred;
    border-radius: 50%;
    border: black 2px solid;
}

.player-icon {
    background-color: lightblue;
    border-radius: 50%;
    border: black 2px solid;
}


